<h1>Portfolio items</h1>

<%= link_to "Create New Item", new_my_portfolio_path%>


<%@portfolio.each do |portfolio|%>
    
    <p><%= link_to "#{portfolio.title}", my_portfolio_show_path(portfolio)%></p>
    <p><%=portfolio.subtitle%></p>
    <p><%=portfolio.body%></p>
    <%=image_tag portfolio.thumb_image unless portfolio.thumb_image.nil?%>
    <%= link_to "Edit Portfolio", edit_my_portfolio_path(portfolio)%>
    <%= link_to "Delete Portfolio", my_portfolio_path(portfolio), method: :delete, data: {confirm: 'Are You Sure?'}%>
<%end%>