<%=image_tag @portfolio.main_image unless @portfolio.main_image.nil?%>

<p id="notice"><%= notice %></p>

<h2>
  <strong>Title:</strong>
  <%= @portfolio.title %>
</h2>

<p>
  <strong>Body:</strong>
  <%= @portfolio.body %>
</p>



<%= link_to 'Edit', edit_my_portfolio_path(@portfolio.id) %> |
<%= link_to 'Back', my_portfolios_path %>